.mainBlock{
    position: relative;
    border: 2px solid #5ed5fa;
    margin: 0 13px;
    width: 310px;
    height: 243px;
    border-radius: 10px;
}

.displayBlock{
    border-radius: 10px;
    border: 2px solid #5ed5fa;
    color:#5ed5fa;
    padding:20px 10px;
    font-size:86px;
    font-weight:bold;
    width: 260px;
    margin: 13px auto;
}

.AttentionDisplayBlock {
    border: 2px solid #5ed5fa;
    border-radius: 10px;
    color:red;
    padding:20px 10px;
    font-size:86px;
    font-weight:bold;
    width: 260px;
    margin: 13px auto;
}

.DisplayControlButton{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #5ed5fa;
    border-radius: 10px;
    margin: 0 13px;
}
.error {
    color: red;
}